@import url('./about.scss');
@import url('./aboutpage.scss');
@import url('../auth/login.scss');

body{
  font-family: "Poppins","Dancing Script", sans-serif;
}

ul{
  padding-left: 0;
}
h1,h2,h3,h4,h5,p{
  margin-bottom: 0;
}

.bg-black{
  background-color: unset !important;
}

